.btn{
		
	padding: 4px 8px;
}

.btn-sm:hover
{
		
}

.add-btn
{	
	font-weight:600;
	background: #084594;
	color: #ffffff;
}

.edit-btn
{	
	font-weight:600;
	background: #AE431E;
	color: #ffffff;
}


.submit-btn
{
	font-weight:600;
	background: #357C3C;
	color: #ffffff;
}

