@import "MyFonts.css";
  
*{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

.breadcrumb
{
	margin-top: -5px;
	padding: 5px 5px;
	width: 100%;
	background-color: transparent;
	float: right;
	
}


body,html {
    height: 100%;
}

 .page-header{
	
	width: 100%;
	border: 1px solid grey;
}
.card .card-body{
	
	width: 100% !important ;
}

.page
{
	padding: 0px;
	
}

.page-top{
	
	height : 3rem;
	
}

.card-header h5{
	font-weight: 550;	
}

#myTable thead tr
{
text-align: center;
}

.c-body{
	padding: 0px;
}
.mandatory {
    color: red;
}

.breadcrumb
{
	margin-top: 5px;
}

.breadcrumb .breadcrumb-item, .breadcrumb .breadcrumb-item a
{
	
	font-size: 12px !important;
}

.alert {
	
	padding: 4px; 
	margin:-10px 10px 5px 10px ;
	width: 80% !important;	
}

.table thead tr td , .table tbody tr td {

padding-top: 7px !important;
padding-bottom: 7px !important;

}

hr{

	border-top: 1px solid rgba(0,0,0,.2);
	width: 100%;
}
